Nodered/Temp_Hum.json
[{"id":"62175924.f41e58","type":"tab","label":"Home page","disabled":false,"info":""},{"id":"dadfba4d.b46e58","type":"tab","label":"sensor simulator","disabled":false,"info":""},{"id":"cb37b69.ead5248","type":"tab","label":"Weather API","disabled":false,"info":""},{"id":"2a4abd11.a253a2","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"8","collapse":true},{"id":"ebdab6bb.7fbe78","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":73,"sy":73,"gx":100,"gy":100,"cx":8,"cy":8,"px":1,"py":10}}},{"id":"c2ee47c8.e2e7f8","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"5f4c2ea5.dc4e3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ba217aad.c78538","type":"ui_group","z":"","name":"Default","tab":"722893fc.b5334c","order":1,"disp":true,"width":"6","collapse":false},{"id":"722893fc.b5334c","type":"ui_tab","z":"","name":"tab2","icon":"dashboard","disabled":false,"hidden":false},{"id":"e52dd10d.2c0e2","type":"ui_group","z":"","name":"test","tab":"5f4c2ea5.dc4e3","order":2,"disp":true,"width":"6","collapse":true},{"id":"5a9be2a7.35e99c","type":"ui_group","z":"","name":"Default","tab":"5f4c2ea5.dc4e3","order":2,"disp":true,"width":"6","collapse":false},{"id":"3ad9dda2.b60802","type":"ui_group","z":"","name":"Video","tab":"9fa49f18.f031f","order":1,"disp":true,"width":"12","collapse":true},{"id":"9fa49f18.f031f","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a79fa658.687a18","type":"ui_group","z":"","name":"Log Live2","tab":"83617363.dfc41","order":2,"disp":true,"width":"12"},{"id":"4f29fbcf.9770b4","type":"ui_group","z":"","name":"Humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"52bfe1b3.03a98","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#e83c11","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Tahoma,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":100,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c32179bd.abb8b8","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"b5c9da48.f84b98","type":"ui_group","z":"","name":"","tab":"1cd56407.2997fc","order":1,"disp":false,"width":"8","collapse":false,"info":"`body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}`"},{"id":"c8e66f7c.55093","type":"ui_group","z":"","name":"Humidity","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"dfd65f46.13d34","type":"ui_group","z":"","name":"button","tab":"","order":2,"disp":false,"width":"1","collapse":false},{"id":"6a80f6fb.f719d8","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"68d9f7bb.b52f68","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"772faaeb.762584","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"1cd56407.2997fc","type":"ui_tab","z":"","name":"Home","icon":"","disabled":false,"hidden":false},{"id":"6a2b8e04.38be9","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"f4167b05.dd3e48","type":"ui_group","z":"","name":"Sensor Data's","tab":"31982360.199acc","order":1,"disp":true,"width":"6","collapse":false},{"id":"31982360.199acc","type":"ui_tab","z":"","name":"Sensor Simulator Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"b35299e.6af0e68","type":"ui_group","z":"","name":"dialy chart","tab":"31982360.199acc","order":2,"disp":true,"width":"6","collapse":false},{"id":"9c0e9d4d.ab071","type":"ui_group","z":"","name":"command","tab":"31982360.199acc","order":2,"disp":true,"width":"6","collapse":false},{"id":"44f8efa8.4128a","type":"ui_group","z":"","name":"Circulating Pump Control","tab":"","order":4,"disp":true,"width":"5"},{"id":"77c4795e.ed0b38","type":"ui_group","z":"","name":"Test","tab":"d896a9d7.7bb6a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d896a9d7.7bb6a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"ca1296ca.b61118","type":"ui_tab","z":"","name":"Weather API","icon":"dashboard","disabled":false,"hidden":false},{"id":"591d0897.d960e8","type":"ui_group","z":"","name":"humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"ecfb6aff.fc7ef8","type":"ui_group","z":"","name":"station","tab":"ca1296ca.b61118","order":1,"disp":false,"width":"6","collapse":false},{"id":"b192fe09.37fa5","type":"ui_group","z":"","name":"Dialy Chart","tab":"ca1296ca.b61118","order":2,"disp":false,"width":"6","collapse":false},{"id":"b0e785db.6b97d8","type":"ui_group","z":"","name":"Video","tab":"de10e3be.ed211","order":1,"disp":true,"width":"12","collapse":true},{"id":"de10e3be.ed211","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5915a070.6ccce","type":"ui_group","z":"","name":"Group 2","tab":"2089677b.420188","order":2,"disp":true,"width":"6"},{"id":"c5b8e227.e2d78","type":"ui_group","z":"","name":"Humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d5a9329.45830c","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#e83c11","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Tahoma,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":100,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"44e0d3b8.c0fccc","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"9a508108.3b4a3","type":"ui_group","z":"","name":"","tab":"d3c201ab.296e6","order":1,"disp":false,"width":"8","collapse":false,"info":"`body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}`"},{"id":"c0257e3d.6a627","type":"ui_group","z":"","name":"Humidity","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f1cdff57.7e8cc","type":"ui_group","z":"","name":"button","tab":"","order":2,"disp":false,"width":"1","collapse":false},{"id":"148ce04b.b466f","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"7fb38b36.661984","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"f9211e96.05279","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"d3c201ab.296e6","type":"ui_tab","z":"","name":"Home","icon":"","disabled":false,"hidden":false},{"id":"7594a8bf.79b0d8","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"45f5d45.0eef62c","type":"ui_group","z":"","name":"Sensor Data's","tab":"3a666498.20ecac","order":1,"disp":true,"width":"6","collapse":false},{"id":"3a666498.20ecac","type":"ui_tab","z":"","name":"Sensor Simulator Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"4816d4ed.17cd7c","type":"ui_group","z":"","name":"dialy chart","tab":"3a666498.20ecac","order":2,"disp":true,"width":"6","collapse":false},{"id":"6e875c3a.812374","type":"ui_group","z":"","name":"command","tab":"3a666498.20ecac","order":2,"disp":true,"width":"6","collapse":false},{"id":"5f31b6f3.e12928","type":"ui_group","z":"","name":"Circulating Pump Control","tab":"","order":4,"disp":true,"width":"5"},{"id":"90477d44.52d7","type":"ui_group","z":"","name":"Test","tab":"e819aa4e.f5f318","order":1,"disp":true,"width":"6","collapse":false},{"id":"e819aa4e.f5f318","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"cb2b5167.2049a","type":"ui_tab","z":"","name":"Weather API","icon":"dashboard","disabled":false,"hidden":false},{"id":"a0b1c53.69e2838","type":"ui_group","z":"","name":"humidity","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"413eab00.fbce94","type":"ui_group","z":"","name":"station","tab":"cb2b5167.2049a","order":1,"disp":false,"width":"6","collapse":false},{"id":"b5b2c1fd.58f38","type":"ui_group","z":"","name":"Dialy Chart","tab":"cb2b5167.2049a","order":2,"disp":false,"width":"6","collapse":false},{"id":"ab66f8c0.2a6958","type":"ui_group","z":"","name":"Video","tab":"513e92a0.840a9c","order":1,"disp":true,"width":"12","collapse":true},{"id":"513e92a0.840a9c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d360fef.cefbd","type":"ui_group","z":"","name":"Group 2","tab":"efd4581a.281728","order":2,"disp":true,"width":"6"},{"id":"da2103b4.5ef0d","type":"mqtt-broker","z":"dadfba4d.b46e58","broker":"localhost","port":"1883","clientid":"Node-Red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6a8804bf.9003ac","type":"ui_tab","z":"cb37b69.ead5248","name":"New Test","icon":"dashboard"},{"id":"d11be2d8.f389a","type":"ui_template","z":"62175924.f41e58","group":"9a508108.3b4a3","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137487.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n<h1> IOT BASED SMART AGRICULTURAL SYSTEM </h1>\n    \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":240,"wires":[[]]},{"id":"9695654b.2062b8","type":"ibmiot in","z":"dadfba4d.b46e58","authentication":"apiKey","apiKey":"991cb717.625c88","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"agri1","applicationId":"","deviceType":"iotagri","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":740,"wires":[["b49754e5.8139c8","8213f8cc.b6b458","931972cd.631c"]]},{"id":"5098ba2e.dba3f4","type":"ibmiot out","z":"dadfba4d.b46e58","authentication":"apiKey","apiKey":"991cb717.625c88","outputType":"cmd","deviceId":"control","deviceType":"motor","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":1040,"wires":[]},{"id":"b49754e5.8139c8","type":"function","z":"dadfba4d.b46e58","name":"temperature","func":"msg.payload = msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":660,"wires":[["3aa89619.1d9a0a","931972cd.631c","e90d9e9c.eff34"]]},{"id":"8213f8cc.b6b458","type":"function","z":"dadfba4d.b46e58","name":"humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":840,"wires":[["cfca84ef.13a248","931972cd.631c","39f3117f.948ede"]]},{"id":"3aa89619.1d9a0a","type":"ui_gauge","z":"dadfba4d.b46e58","name":"","group":"45f5d45.0eef62c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degree celcius","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":660,"wires":[]},{"id":"cfca84ef.13a248","type":"ui_gauge","z":"dadfba4d.b46e58","name":"","group":"45f5d45.0eef62c","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percentage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":840,"wires":[]},{"id":"931972cd.631c","type":"debug","z":"dadfba4d.b46e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":740,"wires":[]},{"id":"c8f8c128.8d39c","type":"ui_button","z":"dadfba4d.b46e58","name":"","group":"45f5d45.0eef62c","order":3,"width":0,"height":0,"passthru":false,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Turned on Motor\"}","payloadType":"json","topic":"","x":310,"y":1020,"wires":[["931972cd.631c","dc26559d.533228"]]},{"id":"6f998c69.808b04","type":"ui_button","z":"dadfba4d.b46e58","name":"","group":"45f5d45.0eef62c","order":4,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Turned off Motor\"}","payloadType":"json","topic":"","x":360,"y":1100,"wires":[["931972cd.631c","dc26559d.533228"]]},{"id":"e90d9e9c.eff34","type":"ui_chart","z":"dadfba4d.b46e58","name":"","group":"4816d4ed.17cd7c","order":1,"width":0,"height":0,"label":"Temperature daily chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":600,"wires":[[]]},{"id":"39f3117f.948ede","type":"ui_chart","z":"dadfba4d.b46e58","name":"","group":"4816d4ed.17cd7c","order":1,"width":0,"height":0,"label":"Hummidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":900,"wires":[[]]},{"id":"2b42e1f8.4cc9de","type":"ui_template","z":"dadfba4d.b46e58","group":"4816d4ed.17cd7c","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137487.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n\n    \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":540,"y":500,"wires":[[]]},{"id":"dc26559d.533228","type":"ui_text","z":"dadfba4d.b46e58","group":"4816d4ed.17cd7c","order":3,"width":0,"height":0,"name":"","label":"STATUS","format":"{{msg.payload.command}}","layout":"row-spread","x":680,"y":980,"wires":[]},{"id":"af66d4b0.54cfd8","type":"inject","z":"cb37b69.ead5248","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":160,"y":320,"wires":[["3202fc83.528544"]]},{"id":"3202fc83.528544","type":"http request","z":"cb37b69.ead5248","name":"api","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":320,"wires":[["28b6c56c.7c90fa","d39f2592.828328","df5cd1c.32f5f3","72ff78c1.363498","387ca108.2b5d1e","a6c2d3b9.af258"]]},{"id":"28b6c56c.7c90fa","type":"debug","z":"cb37b69.ead5248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":320,"wires":[]},{"id":"d39f2592.828328","type":"change","z":"cb37b69.ead5248","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":140,"wires":[["53cadd52.72b534","a135fcf3.13d5f"]]},{"id":"53cadd52.72b534","type":"ui_gauge","z":"cb37b69.ead5248","name":"","group":"413eab00.fbce94","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"75","colors":["#00b500","#00e60f","#14f05d"],"seg1":"","seg2":"","x":650,"y":140,"wires":[]},{"id":"df5cd1c.32f5f3","type":"change","z":"cb37b69.ead5248","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":440,"wires":[["1f5e2683.a2d579","273947b1.f70c28"]]},{"id":"1f5e2683.a2d579","type":"ui_gauge","z":"cb37b69.ead5248","name":"","group":"413eab00.fbce94","order":2,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#00e608","#3acb43"],"seg1":"","seg2":"","x":710,"y":440,"wires":[]},{"id":"72ff78c1.363498","type":"change","z":"cb37b69.ead5248","name":"Wind Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":220,"wires":[["855da7d2.744108","1af8ecdc.76e5f3"]]},{"id":"855da7d2.744108","type":"ui_gauge","z":"cb37b69.ead5248","name":"","group":"413eab00.fbce94","order":4,"width":0,"height":0,"gtype":"donut","title":"Wind Speed","label":"m/s","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#04e600","#0de744"],"seg1":"","seg2":"","x":770,"y":220,"wires":[]},{"id":"7aebbd1b.174834","type":"ui_template","z":"cb37b69.ead5248","group":"413eab00.fbce94","name":"","order":3,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137487.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n\n    \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":140,"wires":[[]]},{"id":"273947b1.f70c28","type":"ui_chart","z":"cb37b69.ead5248","name":"","group":"b5b2c1fd.58f38","order":2,"width":6,"height":5,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"70","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":500,"wires":[[]]},{"id":"1af8ecdc.76e5f3","type":"ui_chart","z":"cb37b69.ead5248","name":"","group":"b5b2c1fd.58f38","order":3,"width":6,"height":5,"label":"Wind Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":820,"y":280,"wires":[[]]},{"id":"a135fcf3.13d5f","type":"ui_chart","z":"cb37b69.ead5248","name":"","group":"b5b2c1fd.58f38","order":1,"width":6,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":80,"wires":[[]]},{"id":"387ca108.2b5d1e","type":"change","z":"cb37b69.ead5248","name":"type of weather","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather[0].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":560,"wires":[["317fcdac.222ff2"]]},{"id":"4214bbb7.794114","type":"ui_template","z":"cb37b69.ead5248","group":"413eab00.fbce94","name":"","order":5,"width":0,"height":0,"format":"<iframe id=\"myFrame\"  width=\"140\" height=\"140\" src = \"\"></iframe>\n\n<script>\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":840,"y":580,"wires":[[]]},{"id":"a6c2d3b9.af258","type":"function","z":"cb37b69.ead5248","name":"parsing icon from api","func":"msg.payload=\"http://openweathermap.org/img/wn/\"+msg.payload.weather[0].icon+\"@2x.png\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":580,"wires":[["4214bbb7.794114","28b6c56c.7c90fa"]]},{"id":"317fcdac.222ff2","type":"ui_text","z":"cb37b69.ead5248","group":"b5b2c1fd.58f38","order":4,"width":6,"height":3,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":560,"wires":[]}]
